<section id='home'>

	<div class='home-overlay'></div>

	<div class='intro'>

		<div class='start'>Hi, my name is Gregory and i'm a</div>

		<h1 class='bounce animated'>Full-Stack Web Developer</h1>

		<div class='start'>creating amazing applications.</div>

	</div>

	<a href="#">
		<div class='scroll-down'>
			<span>
				<i class='fa fa-angle-down fa-2x'></i>
			</span>
		</div>
	</a>

</section>

<div id='undefined-sticky-wrapper' class='sticky-wrapper is-sticky'>

	<header class='header'>

		<nav class='navbar navbar-custom' role='navigation'>

			<div class='container'>
				<div class='navbar-header'>

					<a class='navbar-brand' href="#">Greg Hasenauer</a>

				</div>

				<div class='navbar-collapse collapse in'>
					<ul class='nav navbar-nav navbar-right'>
						<li class='active'>
							<a href="#">Home</a>
						</li>
						<li>
							<a href="#">Services</a>
						</li>
						<li>
							<a href="#">Market</a>
						</li>
						<li>
							<a href="#">Skills</a>
						</li>
					</ul>
				</div>
			</div>

		</nav>

	</header>

</div>

<section id='services'>

	<div class='container'>
		<div class='row'>

			<div class='col-sm-6 col-sm-offset-3 col-custom'>
				<div class='service-header bounce animated'>

					<h2 class='service-title'>Principles On Point</h2>

					<div class='half-rule'></div>

					<div class='service-subtitle'>Problem Solving Software Engineer.</div>

				</div>

  			</div>

		</div>

		<div class='row'>
			
			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

			<div class='col-sm-3'>
				<div class='iconbox wow slideInLeft animated'>
					<div class='iconbox-icon'>
						<span class='fa fa-heartbeat'></span>
					</div>
					<div class='iconbox-text'>
						<h3 class='iconbox-title'>Web Applications</h3>
						<div class='iconbox-desc'>Best practices for dynamic standards</div>
					</div>
				</div>
			</div>

		</div>
	</div>

</section>




































