@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";




/* Test CSS _Header */
#test {
	padding: 200px 200px;
	background-color: #f5f5f5;
}

.static {
	position: static;
	background: red;
	color: white;
	width: 60px;
	height: 60px;
}

.relative {
	position: relative;
	background: blue;
	color: white;
	width: 60px;
	height: 60px;
}

.absolute {
	position: absolute;
	background: green;
	color: white;
	width: 60px;
	height: 60px;
}

.fixed {
	position: fixed;
	background: black;
	color: white;
	width: 60px;
	height: 60px;
}

/* Test CSS _Header */


body {
	font: 300 14px/1.8 'Raleway', sans-serif;
	color: #666;
	margin: 0;
	overflow-x: hidden;	
}


#home {
	background: url(1.jpg);
	background-size: cover;
	background-position: 50% 0px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 650px;
}

.home-overlay {
	background: url(overlay-pattern.png);
	background-color: rgba(40, 60, 80, 0.3);
	background-repeat: repeat;
	height: 650px;
	position: absolute;
	width: 100%;
	z-index: 0;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	transform: translate(0%, -50%);
	padding: 0 15px;
}

.intro h1 {
	display: inline-block;
	font-weight: 800;
	font-size: 50px;
	color: #fff;
	text-shadow: 0 2px 6px #111;
}

.intro span {
	display: inline-block;
}

.start {
	font-size: 22px;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
	color: #fff;
	text-shadow: 0 1px 5px #111;
	border-radius: 20px;
}

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
	text-align: center; 
}

.scroll-down span {
	position: relative;
	color: #fff;
}

.intro-i {
	position: relative;
	top: 18px;
}

/*HEADER*/
.header {
	background-color: #f5f5f5;
	width: 100%;
	z-index: 998;
	position: relative;
	border-bottom: 1.5px solid #02D2FC;
}

.header .navbar-brand {
	color: #00819C;
	font-weight: 500;
	font-family: 'Pacifico', cursive;
	&:hover {
		color: #FFFF6F;
	};
}

.header .navbar-right li a {
	color: #00819C;
	font-family: 'Pacifico', cursive;
	&:hover {
		color: #FFFF6F	;
	};
}

/*SERVICES SECTION*/
#services {
	background-image: linear-gradient(-25deg,#3DBDEE -20%,#D7A0F5 100%);
	background-attachment: fixed;
	padding: 120px 0 100px;
}

.service-header {
	margin: 0 0 55px;
	text-align: center;
}

.service-title {
	font-weight: 700;
	font-size: 27px;
	color: white;
	letter-spacing: 2px;
}

.service-subtitle {
	font-size: 19px;
	color: white;
}

/*This is a custom nav bar css*/

.half-rule {
	width: 100px;
	margin: 40px auto;
	background: white;
	height: 1px;
}

.iconbox {
	background: #fff;
	border-bottom: 1.5px solid #7B7F7D;
	border-right: 1.5px solid #747B7B;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
	min-height: 250px;
}

.iconbox-icon {
	margin: 0 0 15px;
	font-size: 32px;
	color: #222;
}

.iconbox-title {
	margin: 0 0 15px;
	padding: 0;
}

.ruby-img {
	width: 21%;
}



/*PROJECTS SECTION*/
#projects {
	padding: 120px 0 100px;
	background-color: white;
}

.projects-title {
	font-weight: 700;
	font-size: 27px;
	color: #3DA7FF;
	letter-spacing: 2px;
}

.projects-subtitle {
	font-size: 19px;
	color: #3DA7FF;
	letter-spacing: -1px;
}

.grid {
	position: relative;
	clear: both;
	padding: 1em 0 4em;
	max-width: 100%;
	max-height: 100%;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	overflow: hidden;
	margin: 10px 1%;
	height: auto;
	text-align: center;
	cursor: pointer;
}


.grid figure figcaption {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figcaption h2 {
	padding-top: 10%;
	color: #fff;
	opacity: 3;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure p {
	font-size: 16px;
	color: white;
	text-decoration: none;

}

.figure-image {
	position: relative;
	display: block;
	min-height: 220px;
	max-width: 100%;
}

/*FIXED PICTURE BREAK*/
#background-fixed-pic {
	background-image: url(20.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 320px;
	border-top: 3px solid black;

}


/*CONTACT DIV*/
#contact-break {
	background: url(25.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 320px;
	border-bottom: 3px solid black;
	border-top: 3px solid black;
}

#contact-break * {
	text-align: center;
}

.contact-break-overlay {
	position: absolute;
	background-color: rgba(40, 20, 20, 0.7);
	background-repeat: repeat;
	width: 100%;
	height: 250px;
	z-index: 0;
}

#contact-break h2 {
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 8px;
}

.contact-break-desc {
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 20px;
	color: #fff;
}

.contact-break-btn .btn {
	background: white;
	color: black;
	margin-top: 5px;
	margin-bottom: 5px;
}


/*SUBMIT MESSAGES FORM*/
#sub-msg {
	padding: 120px 0 100px;
}

/*FOOTER*/
#footer {
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid white;
	border-radius: 3px;
	font-size: 14px;
	color: white;
}

.author {
	margin: 0 0 10px;
}

.copyright {
	margin: 0;
}


/*---------------*/
/***** Layla *****/
/*---------------*/

figure.effect-layla {
	
}

figure.effect-layla figcaption {
	padding: 3em;
}

figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after {
	position: absolute;
	content: '';
	opacity: 0;
}

figure.effect-layla figcaption::before {
	top: 50px;
	right: 30px;
	bottom: 50px;
	left: 30px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

figure.effect-layla figcaption::after {
	top: 30px;
	right: 50px;
	bottom: 30px;
	left: 50px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
	-webkit-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

figure.effect-layla h2 {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.effect-layla p {
	padding: 0.5em 2em;
	text-transform: none;
	opacity: 0;
	-webkit-transform: translate3d(0,-10px,0);
	transform: translate3d(0,-10px,0);
}

figure.effect-layla img,
figure.effect-layla h2 {
	/*THIS MAKES THE PICTURE MOVE*/
	/*-webkit-transform: translate3d(0,-30px,0);*/
	/*transform: translate3d(0,-30px,0);*/
}

figure.effect-layla img,
figure.effect-layla figcaption::before,
figure.effect-layla figcaption::after,
figure.effect-layla p {
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-layla:hover img {
	opacity: 0.7;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::before,
figure.effect-layla:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-layla:hover h2,
figure.effect-layla:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-layla:hover figcaption::after,
figure.effect-layla:hover h2,
figure.effect-layla:hover p,
figure.effect-layla:hover img {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

/*---------------*/
/***** Layla *****/
/*---------------*/






/* HEADER */


/*.background1 {
	background-image: url(1.jpg);
	width: 100vh;
	height: 100vh;
	background-attachment: fixed;

}

.background2 {
	background-image: url(2.jpg);
	width: 100vh;
	height: 100vh;
	background-attachment: fixed;

}

.background3 {
	background-image: url(3.jpg);
	width: 100vh;
	height: 100vh;
	background-attachment: fixed;
}*/