<section id='test'>
	<div class='container'>

		<div class='static'>STATIC</div>
		<div class='relative'>RELATIVE</div>
		<div class='absolute'>ABSOLUTE</div>
		<div class='fixed'>FIXED</div>
		
	</div>
</section>