<!DOCTYPE html>
<html>
	<head>

	  <title>~ eSsXiV</title>

	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>


	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
	  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.3/jquery.sticky.min.js">
	  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>


	</head>

	<body>

		<%= yield %>

	</body>

	<script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script><script>new WOW().init();</script>
	<script src="jquery.sticky.js"></script>
	<script>
	  $(document).ready(function(){
	    $("#sticker").sticky({topSpacing:0});
	  });
	</script>


</html>
